
.card--goodpage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 10vw;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-content: center;
    padding: 0;
  }
}
img {
  .card--goodpage & {
    margin-right: 2vh;
    flex-grow: 1;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: none;
    }
  }
}
.title {
  .card--goodpage & {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
    text-align: start;
  }
}
.info {
  .card--goodpage & {
    // padding: 5vw;
    // padding-right: 0;
    flex-grow: 0.2;
    @media screen and (max-width: 768px) {
    // padding: 5vw 1vw;
    }
  }
}
.info-header {
  .card--goodpage & {
    margin: 1vh;
    @media screen and (max-width: 768px) {
      margin: 2vh;
    }
  }
}
a {
  color: #2c3e50;
  text-decoration: none;
}
.description {
  .card--goodpage & {
    text-align: start;
    font-size: 16px;
  }
}
.price {
  .card--goodpage & {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -1px;
    white-space: nowrap;
    text-align: start;
    font-size: 32px;
  }
}
path {
  stroke-linecap: round;
  .card--goodpage & {
    fill: @dark;
    stroke-width: 0;
  }
  .cart-svg & {
    stroke-width: 5;
    fill: none;
    stroke: white;
  }
}
.to-cart--goodpage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 144px;
  border: 1px solid black;
  box-sizing: border-box;
}
.number {
  height: 24px;
  width: 48px;
}

.minus {
  padding: 12px;

}
.plus {
  padding: 12px;
}
svg {
  .card--goodpage & {
    height: 24px;
  }
}
.to-cart--goodpage_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 2vh;
}
.to-cart--goodpage_wrapper {
  margin: 1vh;
  @media screen and (max-width: 768px) {
    margin: 2vh;
  }
}
.to-cart--goodpage_add {
  background-color: @ikeablue;
  height: 60px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cart-svg {
  width: 24px;
  margin-right: 5px;
}